<app-cabecera></app-cabecera>
  <h1 class="container bg-dark text-white text-center my-4 py-4">ngif show= {{show}}</h1> 
  <div class="container">
    <button class="btn btn-success" (click)="show=!show">Acción</button>
    <p class="text-info" *ngIf="show; else showDos" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae praesentium et error eius. Mollitia quidem harum et dicta cum provident id deleniti non, eos aspernatur modi ex reiciendis, eligendi eaque.</p>

    <ng-template #showDos>
      <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusantium, nihil ipsa alias nulla sunt magni vitae similique, nemo dolor placeat accusamus sequi nostrum laboriosam rem non cupiditate ducimus neque.</p>
    </ng-template>
  </div>

  <h1 class="container bg-dark text-white text-center my-4 py-4">NgClass</h1> 
  <div class="container">
    <button class="btn btn-dark mb-3" (click)="activo='primero'">Primero</button>
    <button class="btn btn-danger mb-3" (click)="activo='segundo'">Segundo</button>

    <p class="text-info d-none" [ngClass]="{'d-block':activo=='primero'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae praesentium et error eius. Mollitia quidem harum et dicta cum provident id deleniti non, eos aspernatur modi ex reiciendis, eligendi eaque.</p>
    
    <p class="text-danger d-none" [ngClass]="{'d-block':activo=='segundo'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusantium, nihil ipsa alias nulla sunt magni vitae similique, nemo dolor placeat accusamus sequi nostrum laboriosam rem non cupiditate ducimus neque.</p>
  </div>

  <h1 class="container bg-dark text-white text-center my-4 py-4">NgFor</h1> 
  <div class="container">
    <ul>
      <li *ngFor="let curso of cursos">{{cursos}}</li>
    </ul>  

    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">TIPO</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">EDAD</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let animal of animales; index as i">            
          <td scope="row">{{i+1}}</td>
          <td>{{animal.tipo}}</td>
          <td>{{animal.nombre}}</td>
          <td>{{animal.edad}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h1 class="container bg-dark text-white text-center my-4 py-4">Contador</h1> 
  <div class="container">
    <button class="btn btn-success mb-3" (click)="sumar()">Sumar +1</button>
    <label for="espacio">*****************</label>
    <button class="btn btn-warning mb-3" (click)="restar()">Restar -1</button>
    <br>
    <label for="contador">{{n}}</label>
    <br>
      <button class="btn btn-info mb-3 d-none" [ngClass]="{'d-block':n==10}">Hola mundo!!</button>
      <button class="btn btn-danger mb-3 d-none" [ngClass]="{'d-block':n==-10}">Adios :(</button>
  </div>
<app-footer></app-footer>